.btn {
  height: 50px;
  width: 50px;
}

html {
  background-color: rgb(160, 99, 95);
}

.SideBar {
  background-color: cadetblue;
  text-align: center;
  border: 1px;
  border-color: aliceblue;
  float: right;
  height: 1000px;
  width: 200px;
}

.pica {
  background-color: rgb(160, 99, 95);
  text-align: center;
  border-color: aliceblue;
  float: left;
}

.text {
  background-color: brown;
}

.BtnHolder {
  height: 800px;
  background-image: url("./slike/kafic.jpg");
}

.StoBtn {
  height: 200px;
  width: 200px;
  border-color: black;
  border-width: 5px;
  font-size: 40px;
}

.st1 {
  position: fixed;
  top: 100px;
  left: 40px;
}

.st2 {
  position: fixed;
  top: 100px;
  left: 400px;
}

.st3 {
  position: fixed;
  top: 100px;
  left: 740px;
}

.st4 {
  position: fixed;
  top: 520px;
  left: 40px;
}

.st5 {
  position: fixed;
  top: 520px;
  left: 400px;
}

.st6 {
  position: fixed;
  top: 520px;
  left: 740px;
}

.st7 {
  position: fixed;
  top: 300px;
  left: 1110px;
}

.st8 {
  position: fixed;
  top: 542px;
  left: 1580px;
}